<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid padding-lr-0">
        <div class="row width-100p">
          <div class="col-xl-12 col-12">
            <!-- <button class="btn-sidebar" (click)="toggleSidebar()" type="button">
              <span class="navbar-toggler-icon"></span>
            </button> -->
            <a class="navbar-brand" href="#">
              <img src="../assets/images/covid-logo.png"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
    </div>
  </nav>
</header>
<div class="container-fluid padding-lr-0">
  <div class="main-container">
    <!-- <div class="sidebar-ui-list" [ngClass]="(opened==true)?'left-m300':''">
      <div class="search-component-bar">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form> 
      </div>
        <ul>
            <li><a routerLink="">Home</a></li>
        </ul>
    </div> -->
    <div class="component-container">
      <router-outlet></router-outlet> 
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
          <div class="footer-left-content">
          We salute our front-line warriors.
          </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-2 col-sm-12 col-12">
        <div class="footer-center-content">
            <a href="mailto:mail@trackcovid19.info" target="_blank" title="E-mail us"><i class="fas fa-envelope"></i></a>
            <!-- <a href="https://github.com/ipankajsingh/covidtracker" target="_blank" title="Github Repo"><i class="fas fa-code"></i></a>
            <a href="https://api.covid19india.org" target="_blank" title="API"><i class="fas fa-database"></i></a>
            <a href="https://twitter.com/trackCovidInfo" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a> -->
        </div>
        
    </div>
    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
      <div class="footer-right-content">
          Made with <i class="fas fa-heart"></i> by Volunteers
      </div>
  </div>
    </div>
  </div>
</footer>


