.top-strip{
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    padding: 20px 15px;
    background: #FFF;
    z-index: 9;
    -webkit-box-shadow: 0 5px 7px -7px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 5px 7px -7px rgba(0,0,0,0.7);
    box-shadow: 0 5px 7px -7px rgba(0,0,0,0.7);
}
.title{
    font-size: 22px;
    color: #FFF;
    padding-top: 5px;
}
.button-area{
    float: right;
}


.circle-animation{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 8px solid #000;
    font-size: 40px;
    padding: 48px 40px;
    text-align: center;
    font-weight: 700;
    line-height: 45px;
    margin: auto;
}
.panel-container-main{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #E91D26;
    padding:15px 15px 0;
    margin-bottom: 15px;
}
.cart-container{
    margin-top: 70px;
    height: calc(100vh - 220px);
    overflow-y: scroll;
    padding-top: 30px;
}
/* .cart-list{
    width: 75%;
    margin: auto;
} */

.cart-list ul{
    padding: 0;
    margin: 0;
}

.cart-list ul li{
    margin-bottom: 30px;
    list-style: none;
    width: 33.33%;
    float: left;
}

.timerCount{
    font-size: 16px;
    width: 220px;
    padding: 5px 10px;
    text-align: center;
    background: #35b4ff;
    color: #ffffff;
    line-height: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px rgba(53,180,255, 0.7);
	   -moz-box-shadow: 0 8px 6px -6px rgba(53,180,255, 0.7);
	        box-shadow: 0 8px 6px -6px rgba(53,180,255, 0.7);
}
.timerCount i{
    float:left;
    margin-right: 5px;
    font-size: 18px; 
    position: relative;
    top: 3px;
}
.timerCount span{
    font-family: 'montserratbold';
}

.suggestions{
    padding: 6px 0;
    width: 170px;
    margin: auto;
}
.notes{
    position: relative;
    font-size: 16px;
    float: left;
    margin-right: 20px;
}
.notes span{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 5px;
    border-radius: 4px;
}


.common-width-33{
    width: 240px;
    float: left;
}



.margin-bottom-40{
    margin-bottom: 30px;
}

body .ui-multiselect .ui-multiselect-label {
    font-size: 14px;
    color: #333333;
    padding: 0;
}
body .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label{
    font-weight: normal;
    padding: 0;
}

body .ui-multiselect,
body .ui-dropdown,
body .ui-calendar.ui-calendar-w-btn .ui-inputtext {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ui-calendar {
    display: block;
}
body .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
    width: 2.357em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.dash{
    position: relative;
}
.dash:after{
    content: '';
    position: absolute;
    top: 13px;
    right: -5px;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 2px;
    background: #000;
}
.or-div{
    font-size: 20px;
    text-align: center;
    width: 33.33%;
}
body .ui-multiselect .ui-multiselect-label {
    padding: 0;
    padding-right: 20px;
}
  
  #timer {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #04ACFF;
  }


  .margin-left-5{
      margin-left: 5px;
  }
  .margin-top-8{
    margin-top: 8px;
  }
  .margin-right-60{
    margin-right: 60px;
  }
  .search-modal-body .form-group label{
      font-weight: 600;
  }

  .modal-welcome .modal-body{
      text-align: center;
  }

  @media (min-width:767px) and (max-width:1350){
    .modal-common .modal-dialog {
        max-width: 90%;
    }
  }
  @media (min-width:992px) and (max-width:1199px){
    .cart-list ul li {
        width: 50%;
        float: left;
    }
    .cart-data .col-xl-1 {
        margin-right: 0;
     
    }
    .top-strip {
        padding: 20px 15px;
    }
    .btn-primary,
    .btn-secondary {
        font-size: 14px;
        padding: 8px 10px;
    }
    .navbar-light .navbar-toggler{
        display: none;
    }
    .singleTileData{
        width: 1000px;
        overflow-x: scroll;
    }
    .timerCount {
        font-size: 14px;
    }
    .timerCount {
        margin: 0px;
        font-size: 14px;
    }
}


@media (min-width:768px) and (max-width:991px){
    .modal-common .modal-dialog {
        max-width: 750px;
    }
    .cart-list ul li {
        width: 50%;
        float: left;
    }
    .cart-data .col-xl-1 {
        margin-right: 0;
     
    }
    .top-strip {
        padding: 20px 10px;
    }
    .btn-primary,
    .btn-secondary {
        font-size: 14px;
        padding: 8px 8px;
    }
    .navbar-light .navbar-toggler{
        display: none;
    }
    .singleTileData{
        width: 1000px;
        overflow-x: scroll;
    }
    .timerCount {
        font-size: 14px;
    }
    .timerCount {
        margin: 0px;
        font-size: 14px;
    }
}

  @media screen and (max-width: 767px){
    
    .modal-singleDetails .modal-xl {
        max-width: 90%;
    }
    .top-strip {
        position: relative;
        top: 0px;
        padding: 20px 15px;
    }
    .cart-container {
        margin-top: 0;
        height: auto;
        overflow-y: auto;
    }
    .bydefault-image {
        width: auto;
        height: auto;
        margin: auto;
        position: relative;
    }
    .cart-list ul li {
        width: 100%;
        float: none;
    }
    .timerCount {
        margin: 0 auto 10px;
        font-size: 14px;
    }
    .suggestions {
        width: 160px;
    }
    .suggestions .notes:nth-child(2) {
        margin-right: 5px;
    }
    .button-area {
        float: none;
        text-align: center;
    }
    .singleTileData{
        width: 1000px;
        overflow-x: scroll;
    }
  }