.panel-header-main{
    padding: 10px 20px;
    background: #E91D26;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #E91D26;
}
.title{
    font-size: 22px;
    color: #FFF;
    padding-top: 5px;
}
.button-area{
    float: right;
}
.btn-primary{
    background: #000;
    color: #FFF;
    font-size: 16px;
    padding: 8px 25px;
    border-radius: 5px;
}
.btn-search-all{
    background: #000;
    color: #FFF;
    font-size: 16px;
    padding: 8px 25px;
    border-radius: 5px;
}
.circle-animation{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 8px solid #000;
    font-size: 40px;
    padding: 48px 40px;
    text-align: center;
    font-weight: 700;
    line-height: 45px;
    margin: auto;
}
.panel-container-main{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #E91D26;
    padding:15px 15px 0;
    margin-bottom: 15px;
}
.cart-container{
    padding-top: 30px;
}
/* .cart-list{
    width: 75%;
    margin: auto;
} */

.cart-list ul{
    padding: 0;
    margin: 0;
}

.cart-list ul li{
    margin-bottom: 15px;
    list-style: none;
    width: 33.33%;
    float: left;
}

.timerCount{
    font-size: 20px;
    width: 100px;
    padding: 5px 10px;
    text-align: center;
    background: #000;
    color: #FFF;
    border-radius: 5px;
}
.timerCount i{
    float:left;
    margin-right: 10px;
    font-size: 20px; 
    position: relative;
    top: 5px;
}

.suggestions{
    padding: 6px 0;
    width: 165px;
    margin: auto;
}
.notes{
    position: relative;
    font-size: 16px;
    float: left;
    margin-right: 20px;
}
.notes span{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 5px;
    border-radius: 4px;
}

.bg-free, .free {
    background-color: #15b140 !important;
}
.bg-paid, .paid {
    background-color: #fb6322 !important;
}

.cart-single{
    border-radius: 10px;
    color: #FFF;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 0 15px;
    padding: 15px 20px 20px;
}
.gradient-bx{
    position: relative;
    z-index: 1;
}
.cart-single:after,
.gradient-bx:after {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    content: "";
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.35) 0%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.35) 0%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to left, rgba(255, 255, 255, 0.35) 0%, rgba(125, 185, 232, 0) 100%);
}


.cart-single .center-name{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 600;
}


.cart-single .center-address{
    font-size: 14px;
    padding-bottom: 2px;
}
.cart-single .vaccine-name,
.cart-single .agelimit,
.cart-single .max-capacity{
    font-size: 14px;
    padding-bottom: 2px;
}
.cart-single .time,
.cart-single .dateVaccine{
    font-size: 12px;
}
.margin-right-5{
    margin-right: 5px;
}
.cart-data .col-xl-1{
    flex: 0 0 25px;
    max-width: 25px;
    margin-right: 5px;
    text-align: center;
}

.cart-data .dateVaccine .col-xl-11.col-cust-11{
    flex: 0 0 85px;
    max-width: 85px;
}
.cart-data .time .col-xl-11.col-cust-11{
    flex: 0 0 140px;
    max-width: 140px;
}
.cart-data .col-xl-7 {
    flex: 0 0 65%;
    max-width: 65%;
}
.cart-data .custom-4.col-xl-4 {
    flex: 0 0 30%;
    max-width: 30%;
}
.cart-data .col-xl-11 {
    flex: 0 0 91%;
    max-width: 91%;
}

.one-line-data .col-xl-1{
    flex: 0 0 45px;
    max-width: 45px;
    text-align: center;
}
.one-line-data .col-xl-11{
    flex: 0 0 175px;
    max-width: 175px;
}
.common-width-33{
    width: 240px;
    float: left;
}


.close-cart{
    position: absolute;
    top: 3px;
    right: 3px;
    color: white;
    opacity: 0.5;
    transition: 0.35s ease-in;
}
.close-cart:hover{
    opacity: 1;
    transition: 0.35s ease-in;
}
.icon-syringe{
    position: absolute;
    bottom: 0;
    margin: auto;
    color: #eceaea;
    font-size: 60px;
    right: 27px;
    opacity: 0.5;
    transition: 0.75s ease-in;
}
.cart-single:hover .icon-syringe{
    right: 40px;
    font-size: 80px;
    opacity: 0.7;
    transition: 0.75s ease-in;
}

.margin-bottom-40{
    margin-bottom: 30px;
}

.modal-search .modal-header {
    padding: 10px 15px;
    background: #369DC9 !important;
    
}
.modal-search .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 20px;
    color: #FFF;
}
.modal-search .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    color: #FFF;
}
.search-modal-body h4{
    font-size: 18px;
    position: relative;
    margin-bottom: 20px;
}
.search-modal-body h4:after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    background: #ccc;
    width: 100%;
    height: 1px;
}

body .ui-multiselect,
body .ui-calendar.ui-calendar-w-btn .ui-inputtext {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ui-calendar {
    display: block;
}
body .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
    width: 2.357em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.dash{
    position: relative;
}
.dash:after{
    content: '';
    position: absolute;
    top: 13px;
    right: -5px;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 2px;
    background: #000;
}
.or-div{
    font-size: 20px;
    text-align: center;
    width: 33.33%;
}
body .ui-multiselect .ui-multiselect-label {
    padding: 0;
    padding-right: 20px;
}
::-webkit-scrollbar {
    width:7px; 
    background:#e6e6e6;   
   }
  
  ::-webkit-scrollbar-thumb {
    overflow:visible; 
    border-radius:4px; 
    border: solid 1px #A6A6A6; 
    background:#999;
    position: relative;
    overflow: hidden;
    border: solid 1px #7a7a7a;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
  }

  
  #timer {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #04ACFF;
  }


  .margin-left-5{
      margin-left: 5px;
  }
  .margin-top-8{
    margin-top: 8px;
  }
  .margin-right-60{
    margin-right: 60px;
  }
  .search-modal-body .form-group label{
      font-weight: 600;
  }

  .modal-welcome .modal-body{
      text-align: center;
  }
