<div class="container-fluid">
    <div class="position-relative">
        <div class="row">
            <div class="col-xl-12">
                <div>
                    <div class="container-fluid padding-lr-0">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="container-fluid top-strip">
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <div class="timerCount" *ngIf="isValidCenter">
                                                <i class="fas fa-stopwatch"></i>
                                                Refreshing in <span>{{display}}</span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="suggestions" *ngIf="isValidCenter">
                                                <div class="notes"><span class="free"></span> Free</div>
                                                <div class="notes"><span class="paid"></span> Paid</div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="button-area">
                                                <button type="button" class="btn-change btn-primary common-btn" (click)="searchSlotModal()">Change Preference</button>
                                                <button type="button" (click)="clearAll()" [disabled]="!isValidCenter" class="btn-clear btn-secondary common-btn margin-left-10">Clear All</button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="cart-container">
                                    <div class="bydefault-image" *ngIf="firstTimeOnHomePage">
                                        <img src="../../assets/images/homepageMessage.png"/>
                                    </div>
                                    <div class="no-result" *ngIf="noResultsFound && !firstTimeOnHomePage">
                                        <div class="no-res-image">
                                            <img src="../../assets/images/no-result.svg"/>
                                        </div>
                                        <span>Hang in there! No results found this time, but we'll keep looking, or you can quickly change your preference.</span>
                                    </div>

                                    <div class="bydefault-image" *ngIf="showSpinner">
                                        <img src="../../assets/images/spinner.svg"/>
                                    </div>
                                   
                                    <div class="cart-list" *ngIf="isValidCenter">
                                        <ul *ngIf="vaccinationSlotAllResponse">
                                            <li (click)="opensingleTileModal(centre)" *ngFor="let centre of vaccinationSlotAllResponse"
                                                [ngStyle]="{'display':centre.isValidCentre ? '' : 'none' }">
                                                <div *ngIf="centre.isValidCentre">
                                                    <div class="cart-single"
                                                        [ngClass]="centre.fee_type=='Free'?'bg-free':'bg-paid'">
                                                        <button type="button" class="close-cart common-btn"><i
                                                                class="fa fa-times"></i></button>
                                                        <div class="icon-syringe">
                                                            <i class="fas fa-syringe"></i>
                                                        </div>
                                                        <div class="cart-data">
                                                            <div class="center-name">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-xl-1 padding-lr-0">
                                                                            <i class="far fa-hospital"></i>
                                                                        </div>
                                                                        <div class="col-xl-11 padding-lr-0">
                                                                            {{centre.name}}
                                                                        </div>
                                                                        <div class="col-xl-4 custom-4 padding-lr-0">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="center-address">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-xl-1 padding-lr-0">
                                                                            <i class="fas fa-map-marker-alt"></i>
                                                                        </div>
                                                                        <div class="col-xl-11 padding-lr-0">
                                                                            {{centre.address}}, {{centre.district_name}},
                                                                            {{centre.pincode}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="max-capacity">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-xl-1 padding-lr-0">
                                                                            <i class="fas fa-users"></i>
                                                                        </div>
                                                                        <div class="col-xl-11 padding-lr-0">
                                                                            {{centre.availableSlotsCount}} sessions
                                                                            available <span class="btn-view-more"><i class="far fa-eye"></i> View slots</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>


<div [config]="{ show: true }" bsModal #autoShownModal="bs-modal" class="modal modal-common modal-search modal-welcome fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header gradient-bx">
                <h4 id="dialog-auto-name" class="modal-title pull-left">Welcome</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Welcome To Covid Tracker</h3>
                <p>
                    These are unsettling times and COVID-19 is clearing impacting our personal and professional lives,
                    and those that we love.
                    Please take care, stay positive (covid -ve) and keep smiling. We will get through this, together.
                    Having said that, we welcome you to this volunteer initiative, please choose your desired pin-codes
                    and date and we'll take it from there so that you can spend that extra time with your loved one's.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn-search-all btn-primary common-btn" (click)="openModalSearch()">Search
                    Slots</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #searchModal="bs-modal" class="modal modal-common modal-search fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header gradient-bx">
                <h4 class="modal-title">Search By</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModalSearch()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body search-modal-body">
                <div class="container-fluid">
                    <div class="margin-bottom-40">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="form-group">
                                    <label>State</label>
                                    <div>
                                        <p-dropdown 
                                            [options]="indianStates" 
                                            [(ngModel)]="selectedState" 
                                            placeholder="Select a State"
                                            optionLabel="code"
                                            [filter]="true"
                                            [showClear]="true"
                                            (ngModelChange)="fetchCities(selectedState.code)"
                                            >
                                        </p-dropdown>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="form-group">
                                    <label>City</label>
                                    <div>
                                        <p-dropdown 
                                            [options]="indianCities" 
                                            [(ngModel)]="selectedCity" 
                                            placeholder="Select a City" 
                                            optionLabel="code"
                                            [filter]="true"
                                            [showClear]="true"
                                            (ngModelChange)="fetchPinCodeByCities(selectedCity.code)"
                                            >
                                        </p-dropdown>
                                    </div>
                                 
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="form-group">
                                    <label>Pincode</label>
                                    <p-multiSelect [options]="areaCode" [(ngModel)]="selectedCodes"
                                        defaultLabel="Select Pincode" optionLabel="pinCode" maxSelectedLabels="2">
                                    </p-multiSelect>
                                </div>
                            </div>
                            <div class="col-xl-4">

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="form-group">
                                    <label>Date</label>
                                    <p-calendar [(ngModel)]="dateValueSingle" [monthNavigator]="true"
                                        [yearNavigator]="true" dateFormat="dd-mm-yy" yearRange="2021:2099"
                                        [touchUI]="false" [showIcon]="true" [readonlyInput]="true"></p-calendar>
                                </div>
                            </div>
                            <div class="col-xl-8">
                                <div class="form-group">
                                    <label>Age Group</label>
                                    <div class="margin-top-8">
                                        <p-radioButton name="age" value="0" [(ngModel)]="ageCategory"
                                            inputId="ageCategory1">
                                        </p-radioButton>
                                        <span for="city1" class="margin-left-5 margin-right-60">18+</span>

                                        <p-radioButton name="age" value="1" [(ngModel)]="ageCategory"
                                            inputId="ageCategory2">
                                        </p-radioButton>
                                        <span for="city2" class="margin-left-5">45+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn-search-all btn-primary common-btn"
                    (click)="slotsByPincodeAndDate();hideModalSearch();clearResponse()">Search</button>
            </div>

        </div>
    </div>
</div>

<div bsModal #openSingleTileModal="bs-modal" class="modal modal-common modal-singleDetails fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header gradient-bx">
                <h4 class="modal-title">Available Sessions</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideAvailableSessionModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid singleTileData">
                        <div *ngIf="selectedCentre">
                            <p-table class="table-data" [value]="selectedCentre.sessions">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Vaccine Name</th>
                                        <th>Available Capacity</th>
                                        <th>Min Age Limit</th>
                                        <th>Date</th>
                                        <th>Time Slots</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-session>
                                    <tr *ngIf="session.available_capacity != 0">
                                        <td>{{session.vaccine}}</td>
                                        <td>{{session.available_capacity}}</td>
                                        <td>{{session.min_age_limit}}</td>
                                        <td>{{session.date}}</td>
                                        <td>
                                            <span *ngFor="let sessionSlots of session.slots">{{sessionSlots}},<br/> </span>
                                        </td> 
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>    
                </div>
            </div>
        </div>
    </div>
</div>